<script id="nf-tmpl-condition" type="text/template">
    <!-- Condition Layout View -->
    <div class="nf-condition">
        <div class="nf-when-container">
            <div class="nf-condition-label">
                When
                <div class="nf-when-controls">
                    <i class="fa fa-chevron-circle-<%= ( collapsed ) ? 'down' : 'up' %> nf-collapse-condition" aria-hidden="true"></i>
                    <i class="fa fa-minus-circle nf-delete-condition" aria-hidden="true"></i>
                </div>
            </div>
            <div class="nf-when">
                
            </div>
        </div>
        <div class="nf-and-container">
           <div class="nf-and-region">
                <!-- AND Region -->
           </div>
            <%
            if ( ! collapsed ) {
            %>
                <i class="fa fa-plus-circle nf-add-and" aria-hidden="true"></i>
            <%
            }
            %>
        </div>
        <%
        if ( ! collapsed ) {
        %>
            <div class="nf-then-container">
                <div class="nf-condition-label">Do</div>
                <div class="nf-then-region">
                    <!-- THEN Region -->
                </div>
                <i class="fa fa-plus-circle nf-add-then" aria-hidden="true"></i>
            </div>

            <div class="nf-else-container">
                <div class="nf-condition-label">Otherwise</div>
                <div class="nf-else-region">
                    <!-- ELSE Region -->
                </div>
                <i class="fa fa-plus-circle nf-add-else" aria-hidden="true"></i>
            </div>

        <%
        }
        %>
    </div>
</script>

<script id="nf-tmpl-first-when-item" type="text/template">
    <div class="nf-setting nf-one-third">
        <label class="nf-select"><%= renderFieldSelect( key ) %><div></div></label>
    </div> 
    <div class="nf-setting nf-one-third">
        <label class="nf-select">
            <%= renderComparatorSelect( comparator ) %>
            <div></div>
        </label>
    </div>
    <div class="nf-setting nf-one-third">
        <label class="nf-input"><input type="text" data-id="value" class="setting" value="<%= value %>"></label>
    </div>
</script>

<script id="nf-tmpl-drawer-header" type="text/template">
    <header class="nf-drawer-header">
        <a class="nf-add-new nf-add-new-condition" title="Add New Condition" href="#" data-drawerid="addField">Add new condition</a>
        <a href="#" title="Done" class="nf-button primary nf-close-drawer" tabindex="-1">Done</a>
    </header>    
</script>

<script id="nf-tmpl-and-item" type="text/template">
    <div class="nf-and">
        <div class="nf-setting nf-one-fourth">
            <i class="fa fa-minus-circle nf-delete-and" aria-hidden="true"></i>
        </div>
        <div class="nf-setting nf-one-fourth">
            <label class="nf-select">
                <select data-id="connector" class="setting">
                    <option value="AND" <%= ( 'AND' == connector ) ? 'selected="selected"' : '' %>>AND</option>
                    <option value="OR" <%= ( 'OR' == connector ) ? 'selected="selected"' : '' %>>OR</option>
                </select>
                <div></div>
            </label>
        </div>
        <div class="nf-setting nf-one-fourth">
            <label class="nf-select"><%= renderFieldSelect( key ) %><div></div></label>
        </div>
        <div class="nf-setting nf-one-fourth">
            <label class="nf-select">
                <%= renderComparatorSelect( comparator ) %>
                <div></div>
            </label>
        </div>
        <div class="nf-setting nf-one-fourth">
            <label class="nf-input"><input type="text" data-id="value" class="setting" value="<%= value %>"></label>
        </div>
    </div>
    
</script>

<script id="nf-tmpl-then-item" type="text/template">
    <div class="nf-then">
        <div class="nf-setting nf-one-fourth">
            <i class="fa fa-minus-circle nf-delete-then" aria-hidden="true"></i>
        </div>
        <div class="nf-setting nf-one-fourth">
            <label class="nf-select"><%= renderFieldSelect( key ) %><div></div></label>
        </div>
        <div class="nf-setting nf-one-fourth">
            <label class="nf-select">
                <select data-id="trigger" class="setting">
                    <option value="">-- Select One</option>
                    <option value="show_field" <%= ( 'show_field' == trigger ) ? 'selected="selected"' : '' %>>Show Field</option>
                    <option value="hide_field" <%= ( 'hide_field' == trigger ) ? 'selected="selected"' : '' %>>Hide Field</option>
                    <option value="change_value" <%= ( 'change_value' == trigger ) ? 'selected="selected"' : '' %>>Change Value</option>
                </select>
                <div></div>
            </label>
        </div>
        <div class="nf-setting nf-one-fourth">
            <label class="nf-input"><input type="text" data-id="value" class="setting" value="<%= value %>"></label>
        </div>
    </div>
</script>

<script id="nf-tmpl-else-item" type="text/template">
    <div class="nf-else">
        <div class="nf-setting nf-one-fourth">
            <i class="fa fa-minus-circle nf-delete-else" aria-hidden="true"></i>
        </div>
        <div class="nf-setting nf-one-fourth">
            <label class="nf-select"><%= renderFieldSelect( key ) %><div></div></label>
        </div>
        <div class="nf-setting nf-one-fourth">
            <label class="nf-select">
                <select data-id="trigger" class="setting">
                    <option value="">-- Select One</option>
                    <option value="show_field" <%= ( 'show_field' == trigger ) ? 'selected="selected"' : '' %>>Show Field</option>
                    <option value="hide_field" <%= ( 'hide_field' == trigger ) ? 'selected="selected"' : '' %>>Hide Field</option>
                    <option value="change_value" <%= ( 'change_value' == trigger ) ? 'selected="selected"' : '' %>>Change Value</option>
                </select>
                <div></div>
            </label>
        </div>
        <div class="nf-setting nf-one-fourth">
            <label class="nf-input"><input type="text" data-id="value" class="setting" value="<%= value %>"></label>
        </div>
    </div>
</script>

<script id="nf-tmpl-comparator-select" type="text/template">
    <select data-id="comparator" class="setting">
        <option value="">-- Select One</option>
        <option value="equal" <%= ( 'equal' == comparator ) ? 'selected="selected"' : '' %>>Equals</option>
        <option value="notequal" <%= ( 'notequal' == comparator ) ? 'selected="selected"' : '' %>>Does Not Equal</option>
        <option value="contains" <%= ( 'contains' == comparator ) ? 'selected="selected"' : '' %>>Contains</option>
        <option value="greater" <%= ( 'greater' == comparator ) ? 'selected="selected"' : '' %>>Greater Than</option>
        <option value="less" <%= ( 'less' == comparator ) ? 'selected="selected"' : '' %>>Less Than</option>
    </select>
</script>

<script id="nf-tmpl-field-select" type="text/template">
    <select data-id="key" class="setting">
        <option value="">-- Select One</option>
        <optgroup label="Fields">
            <%
            _.each( fieldCollection.models, function( fieldModel ) {
                var selected = ( fieldModel.get( 'key' ) == currentValue ) ? 'selected="selected"' : '';
                %>
                <option value="<%= fieldModel.get( 'key' ) %>" <%= selected %>><%= fieldModel.get( 'label' ) %></option>
                <%
            } );
            %>
        </optgroup>
        <%
        if ( 0 != calcCollection.models.length ) {
        %>
            <optgroup label="Calculations">
            <%
            _.each( calcCollection.models, function( calcModel ) {
                var selected = ( calcModel.get( 'name' ) == currentValue ) ? 'selected="selected"' : '';
                %>
                <option value="<%= calcModel.get( 'name' ) %>" <%= selected %>><%= calcModel.get( 'name' ) %></option>
                <%
            } );
            %>
            </optgroup>
        <%
        }
        %>

    </select>

</script>
