<script id="nf-tmpl-condition" type="text/template">
    <!-- Condition Layout View -->
    <div class="nf-condition">
        <div class="nf-when-container">
            <div class="nf-condition-label">
                When
                <div class="nf-when-controls">
                    <i class="fa fa-chevron-circle-<%= ( collapsed ) ? 'down' : 'up' %> nf-collapse-condition" aria-hidden="true"></i>
                    <i class="fa fa-minus-circle nf-remove-condition" aria-hidden="true"></i>
                </div>
            </div>
            <div class="nf-when">
                
            </div>
        </div>
        <div class="nf-and-container">
           <div class="nf-and-region">
                <!-- AND Region -->
           </div>
            <%
            if ( ! collapsed ) {
            %>
                <i class="fa fa-plus-circle nf-add-and" aria-hidden="true"></i>
            <%
            }
            %>
        </div>
        <%
        if ( ! collapsed ) {
        %>
            <div class="nf-then-container">
                <div class="nf-condition-label">Do</div>
                <div class="nf-then-region">
                    <!-- THEN Region -->
                </div>
                <i class="fa fa-plus-circle nf-add-then" aria-hidden="true"></i>
            </div>

            <div class="nf-else-container">
                <div class="nf-condition-label">If The Condition Is Not Met</div>
                <div class="nf-else-region">
                    <!-- ELSE Region -->
                </div>
                <i class="fa fa-plus-circle nf-add-else" aria-hidden="true"></i>
            </div>

        <%
        }
        %>
    </div>
</script>

<script id="nf-tmpl-first-when-item" type="text/template">
    <div class="nf-setting nf-one-third">
        <label class="nf-select"><%= renderFieldSelect( key ) %><div></div></label>
    </div> 
    <div class="nf-setting nf-one-third">
        <label class="nf-select">
            <%= renderComparators( key, comparator ) %>
            <div></div>
        </label>
    </div>
    <div class="nf-setting nf-one-third">
        <label class="nf-input">
            <%= renderWhenValue( key, comparator, value ) %>
        </label>
    </div>
</script>

<script id="nf-tmpl-drawer-header" type="text/template">
    <header class="nf-drawer-header">
        <a class="nf-add-new nf-add-new-condition" title="Add New Condition" href="#" data-drawerid="addField">Add new condition</a>
        <a href="#" title="Done" class="nf-button primary nf-close-drawer" tabindex="-1">Done</a>
    </header>    
</script>

<script id="nf-tmpl-and-item" type="text/template">
    <div class="nf-and">
        <div class="nf-setting nf-one-fourth">
            <i class="fa fa-minus-circle nf-remove-and" aria-hidden="true"></i>
        </div>
        <div class="nf-setting nf-one-fourth">
            <label class="nf-select">
                <select data-id="connector" class="setting">
                    <option value="AND" <%= ( 'AND' == connector ) ? 'selected="selected"' : '' %>>AND</option>
                    <option value="OR" <%= ( 'OR' == connector ) ? 'selected="selected"' : '' %>>OR</option>
                </select>
                <div></div>
            </label>
        </div>
        <div class="nf-setting nf-one-fourth">
            <label class="nf-select"><%= renderFieldSelect( key ) %><div></div></label>
        </div>
        <div class="nf-setting nf-one-fourth">
            <label class="nf-select">
                <%= renderComparators( key, comparator ) %>
                <div></div>
            </label>
        </div>
        <div class="nf-setting nf-one-fourth">
            <label class="nf-input">
                <%= renderWhenValue( key, comparator, value ) %>
            </label>
        </div>
    </div>
    
</script>

<script id="nf-tmpl-then-item" type="text/template">
    <div class="nf-then">
        <div class="nf-setting nf-one-fourth">
            <i class="fa fa-minus-circle nf-remove-then" aria-hidden="true"></i>
        </div>
        <div class="nf-setting nf-one-fourth">
            <label class="nf-select"><%= renderFieldSelect( key ) %><div></div></label>
        </div>
        <div class="nf-setting nf-one-fourth">
            <label class="nf-select">
                <%= renderTriggers( key, trigger, value ) %>
                <div></div>
            </label>
        </div>
        <div class="nf-setting nf-one-fourth">
            <label class="nf-input">
                <%= renderThenValue( key, trigger, value ) %>
            </label>
        </div>
    </div>
</script>

<script id="nf-tmpl-else-item" type="text/template">
    <div class="nf-else">
        <div class="nf-setting nf-one-fourth">
            <i class="fa fa-minus-circle nf-remove-else" aria-hidden="true"></i>
        </div>
        <div class="nf-setting nf-one-fourth">
            <label class="nf-select">
                <%= renderFieldSelect( key ) %>
                <div></div>
            </label>
        </div>
        <div class="nf-setting nf-one-fourth">
            <label class="nf-select">
                <%= renderTriggers( key, trigger, value ) %>
                <div></div>
            </label>
        </div>
        <div class="nf-setting nf-one-fourth">
            <label class="nf-input">
                <%= renderElseValue( key, trigger, value ) %>
            </label>
        </div>
    </div>
</script>

<script id="nf-tmpl-field-select" type="text/template">
    <select data-id="key" class="setting">
        <option value="">-- Select One</option>
        <optgroup label="Fields">
            <%
            _.each( fieldCollection.models, function( fieldModel ) {
                var selected = ( fieldModel.get( 'key' ) == currentValue ) ? 'selected="selected"' : '';
                %>
                <option value="<%= fieldModel.get( 'key' ) %>" <%= selected %>><%= fieldModel.get( 'label' ) %></option>
                <%
            } );
            %>
        </optgroup>
        <%
        if ( 0 != calcCollection.models.length ) {
        %>
            <optgroup label="Calculations">
            <%
            _.each( calcCollection.models, function( calcModel ) {
                var selected = ( calcModel.get( 'name' ) == currentValue ) ? 'selected="selected"' : '';
                %>
                <option value="<%= calcModel.get( 'name' ) %>" <%= selected %>><%= calcModel.get( 'name' ) %></option>
                <%
            } );
            %>
            </optgroup>
        <%
        }
        %>
    </select>
</script>

<script id="nf-tmpl-cl-comparators" type="text/template">
    <select data-id="comparator" class="setting">
        <option value="">-- Select One</option>
        <%
        _.each( comparators, function( comparator ) {
            %>
            <option value="<%= comparator.value %>" <%= ( comparator.value == currentComparator ) ? 'selected="selected"' : '' %>><%= comparator.label %></option>
            <%
        } );
        %>
    </select>
</script>

<script id="nf-tmpl-cl-value-default" type="text/template">
    <input type="text" data-id="value" class="setting" value="<%= value %>">
</script>

<script id="nf-tmpl-cl-value-textarea" type="text/template">
    <textarea data-id="value" class="setting"><%= value %></textarea>
</script>

<script id="nf-tmpl-cl-value-checkbox" type="text/template">
    <label class="nf-select">
        <select data-id="value" class="setting">
            <option value="">-- Select One</option>
            <option value="1" <%= ( 1 == value ) ? 'selected="selected"': '' %>>Checked</option>
            <option value="0" <%= ( 0 === value ) ? 'selected="selected"': '' %>>Unchecked</option>
        </select>
        <div></div>
    </label>
</script>

<script id="nf-tmpl-cl-value-listcheckbox" type="text/template">
    <label class="nf-select">
        <select data-id="value" class="setting">
            <option value="">-- Select One</option>
            <%
            _.each( options, function( option ) {
                %>
                    <option value="<%= option.value %>" <%= ( option.value === value ) ? 'selected="selected"': '' %>><%= option.label %></option>
                <%
            } );
            %>
            
        </select>
        <div></div>
    </label>
</script>

<script id="nf-tmpl-cl-triggers" type="text/template">
    <select data-id="trigger" class="setting">
        <option value="">-- Select One</option>
        <%
            _.each( triggers, function( trigger ) {
                %>
                <option value="<%= trigger.value %>" <%= ( trigger.value == currentTrigger ) ? 'selected="selected"' : '' %>><%= trigger.label %></option>
                <%
            } );
        %>
    </select>
</script>