.nf-condition {
    //border: 1px solid #333;
    margin-top: 20px;
}
.nf-condition-label {
    margin-bottom: 10px;
}
.nf-first-when-container {
    background: #D3D3D3;
    padding: 10px;
    &::after {
        clear: both;
        content: "";
        display: block;
    }
    .nf-select,
    .nf-input {
        input {
        }
    }
}
.nf-when-controls {
    float: right;
    .fa {
        font-size: 22px;
    }
}
.nf-when-container,
.nf-then-container,
.nf-else-container {
    &::after {
        clear: both;
        content: "";
        display: block;
    }
    .nf-one-fourth {
        .fa {
            font-size: 22px;
            padding-top: 15px;
        }
        &:first-child {
            width: 7.5%;
        }
    }
}
.nf-when-container {
    background: #D3D3D3;
    padding: 0 10px 10px;
    .nf-one-fourth {
        width: 23%;
    }
    .nf-when {
        &::after {
            clear: both;
            content: "";
            display: block;
        }
    }
}
.nf-then-container {
    background: #fefefe;
    padding: 10px;
    .nf-one-fourth {
        width: 30.5%;
    }
    .nf-then {
        &::after {
            clear: both;
            content: "";
            display: block;
        }
    }
}
.nf-else-container {
    background: #ddd;
    padding: 10px;
    .nf-one-fourth {
        width: 30.5%;
    }
    .nf-else {
        &::after {
            clear: both;
            content: "";
            display: block;
        }
    }
}
.nf-add-when {
    font-size: 22px;
    margin-bottom: 5px;
    padding-left: 12px;
}
.nf-add-then {
    font-size: 22px;
    margin-bottom: 5px;
    padding-left: 12px;
}
.nf-add-else {
    font-size: 22px;
    margin-bottom: 5px;
    padding-left: 12px;
}


.nf-one-fourth {
    float: left;
    margin-bottom: 15px;
    padding: 0 2%;
    width: 25%;
    &::after {
        clear: both;
        content: "";
        display: block;
    }
}
